*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* this is for header.jsx nave */
.customNav{
    list-style-type: none;
    line-height: 60px;
    background-color: aquamarine;
    text-align: center;
    
}
.customNav li{
    display: inline;
}
.customNav li a{
    text-decoration: none;
    padding: 10px 15px;
    color: darkgoldenrod;
    
}
.customNav li a:hover{
    background-color: darkgoldenrod;
    color: aquamarine;
    border-radius: 10px;
}
/* end nav section */
.homesection{
    display: flex;
}
